.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.panel-body {
    margin: 0 20px 0 20px;
}

.panel-heading {
    background: #337ab7;
    font-weight: 700;
    color: white;
    font-size: 1.5em;
}