{% include 'header.html' %}
<div class="container">
    <div class="panel col-md-4 col-md-offset-4">
        <div class="panel panel-login">
            <div class="panel-heading">
                Регистрация
            </div>
            <div class="panel-body">
                <div class="row">
                    <form id="login-form" action="index.php?/user/register" method="post" role="form"
                          style="display: block;">
                        <div class="form-group">
                            <label for="login">Имя пользователя:</label>
                            <input type="text" name="login" id="login" tabindex="1" class="form-control"
                                   placeholder="Введите логин" value="" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Пароль:</label>
                            <input type="password" name="password" id="password" tabindex="2" class="form-control"
                                   placeholder="Введите пароль" value="" required>
                        </div>
                        <div class="form-group">
                            <label for="password_second">Пароль повторно:</label>
                            <input type="password" name="password_second" id="password_second" tabindex="2" class="form-control"
                                   placeholder="Введите пароль еще раз" value="" required>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <input type="submit" name="login-submit" id="login-submit" tabindex="2"
                                           class="form-control btn btn-primary" value="Зарегистрироваться">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <hr/>
                                <p>Уже зарегистрированы? <a href="?/user/login">Вход</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}