{% include 'header.html' %}
<div class="container">
    <h2>Список задач</h2>
    <p>Здравствуйте, {{ user['login'] }}! [ <a href="?/user/logout">Logout</a> ]</p>
    <p><a href="?/task/add/" class='btn btn-primary'>Добавить задачу</a></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Описание задачи</th>
            <th>Кем создана</th>
            <th>Кто ответственный</th>
            <th>Выполнена</th>
            <th>Время создания</th>
            <th>Операции</th>
        </tr>
        </thead>
        {% for task in tasks %}
        <tr>
            <td>{{ task.description }}</td>
            <td>{{ task.user }}</td>
            <td>{{ task.assigned_user }}</td>
            <td>{{ task.is_done == '1' ? 'Выполнена' : 'Не выполнена' }}</td>
            <td>{{ task.date_added }}</td>
            <td><a href="?/task/finish/id/{{ task['id'] }}/" class='btn btn-primary'>Выполнить</a>
                <a href="?/task/delete/id/{{ task['id'] }}/" class='btn btn-danger'>Удалить</a>
                <a href="?/task/update/id/{{ task['id'] }}/" class='btn btn-info'>Изменить</a></td>
        </tr>
        {% else %}
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading">Внимание</div>
                <div class="panel-body">Отсуствуют какие-либо задания</div>
            </div>
        </div>
        {% endfor %}
    </table>
</div>
{% include 'footer.html' %}