{% include 'header.html' %}
<div class="container">
    <a href="/">Список</a>
    <h1>Изменение задачи</h1>
    <form action="?/task/update/id/{{ task['id'] }}/" method="post">
        <div class="form-group">
            <label for="description">Описание:</label><input type="text" name="description" id="description" value="{{ task['description'] }}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="assigned_user_id">Ответственный:</label>
            <select name="assigned_user_id" id="assigned_user_id" class="form-control">
                {% for user in users %}
                <option value="{{ user['id'] }}" {{ task['assigned_user_id'] == user['id'] ? 'selected' : ''}}>{{ user['login'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="form-control btn btn-primary">
        </div>
    </form>
</div>
{% include 'footer.html' %}